body {
    margin: 0;
    font-family: sans-serif;
}

nav {
    display: flex;
    gap: 30px;
}

a {
    text-decoration: none;
    color: white;
}

h3 {
    color: white;
    font-size: 20px;
    font-weight: 900;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(25, 18, 58);
}


